/* Main CSS file for the Happy Earwig application */
/* Styles for the elements */
body
{
    border: 5px dotted purple;
    background-color: honeydew;
}
header {
    border-bottom: 5px dotted purple;
}
h1 {
    color: darkgrey;
}
h2
{
    color: lightsteelblue;
}
footer {
    border-top: 5px dotted purple;
}
.box {
    border: 2px dotted cadetblue;
    width: 11em;
}
.input {
    border: 1px dashed cadetblue;
    width: 10em;
}
.drop {
    border: 2px dotted cadetblue;
}
.errorMessage {
    color: orange;
}