/* Main CSS file for the Happy Earwig application */
/* Styles for the elements */
body
{
    border: 5px dotted purple;
    background-color: honeydew;
}
header {
    border-bottom: 5px dotted purple;
}
h1 {
    color: darkgrey;
}
h2
{
    color: lightsteelblue;
}
footer {
    border-top: 5px dotted purple;
}
